#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

#%:
#	dh $@

build:
	mkdir -p $(CURDIR)/build
	cd $(CURDIR)/build && \
	cmake -DCMAKE_INSTALL_PREFIX=/opt/ddm -DCMAKE_BUILD_TYPE=Release .. && \
	make -j8

common-install-arch::
	cd $(CURDIR)/build && make install DESTDIR=$(CURDIR)/debian/ddm

clean::
	rm -rf $(CURDIR)/build